$white: #3498db;
$off-white: rgba($white, 0.3);
$pulse-duration: 750ms;

.loader-wrapper{
  font-size: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loader-1 {
  border: 16px solid rgba(#3498db, 0.3);
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  -webkit-animation: loader-1 2s linear infinite;
  animation: loader-1 2s linear infinite;
}

@keyframes loader-1 {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);  }
  100% {  -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); }
}

.loader-2 {
  position: relative;
  width: 8px;
  height: 40px;
  background: $off-white;
  animation: pulse $pulse-duration infinite;
  animation-delay: ($pulse-duration / 3);
  &:before, &:after {
    content: '';
    position: absolute;
    display: block;
    height: 24px;
    width: 8px;
    background: $off-white;
    top: 50%;
    transform: translateY(-50%);
    -webkit-animation: loader-2 $pulse-duration infinite;
    animation: loader-2 $pulse-duration infinite;
  }
  &:before {
    left: -12px;
  }
  &:after {
    left: 12px;
    animation-delay: ($pulse-duration / 1.5);
  }
}

@keyframes loader-2 {
  50% {
    background: $white;
  }
}