includes:
  - %currentWorkingDirectory%/vendor/prestashop/php-dev-tools/phpstan/ps-module-extension.neon

parameters:
  paths:
    - ../../  # Analizuje wszystko w katalogu modułu

  excludePaths:
    - ../../vendor/
    - ../../node_modules/

  level: 5